examples/basic.json
[
  {
    "id": "b333aac5.8be6a8",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "2ae2052c84670f7b",
    "type": "group",
    "z": "b333aac5.8be6a8",
    "name": "Not an example",
    "style": { "fill": "#bfbfbf", "label": true },
    "nodes": [
      "80d7692a0b0a5dae",
      "dbe5078787689019",
      "3d557240da278749",
      "6ca4cf3b1e3156c8",
      "acc978488aa9fd9e",
      "206a1838d1053cc6",
      "21510f1cf2dc4e22",
      "8f550411f523be8d",
      "efe81da4597b7c90"
    ],
    "x": 74,
    "y": 739,
    "w": 792,
    "h": 402
  },
  {
    "id": "3a964070.37941",
    "type": "inject",
    "z": "b333aac5.8be6a8",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 60,
    "wires": [["2017a5a9.9aa3da"]]
  },
  {
    "id": "e95ea90a.a813d8",
    "type": "debug",
    "z": "b333aac5.8be6a8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 430,
    "y": 260,
    "wires": []
  },
  {
    "id": "b670d9f3.134eb8",
    "type": "delete-session",
    "z": "b333aac5.8be6a8",
    "name": "",
    "x": 260,
    "y": 440,
    "wires": [[]]
  },
  {
    "id": "19944fc9.c9237",
    "type": "catch",
    "z": "b333aac5.8be6a8",
    "name": "",
    "scope": null,
    "uncaught": false,
    "x": 240,
    "y": 580,
    "wires": [["3a338a9f.17c156"]]
  },
  {
    "id": "3a338a9f.17c156",
    "type": "debug",
    "z": "b333aac5.8be6a8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "error",
    "targetType": "msg",
    "x": 400,
    "y": 580,
    "wires": []
  },
  {
    "id": "54afd8dd.3df5a8",
    "type": "debug",
    "z": "b333aac5.8be6a8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 790,
    "y": 340,
    "wires": []
  },
  {
    "id": "5f57519b.33bc9",
    "type": "element-action",
    "z": "b333aac5.8be6a8",
    "name": "click go",
    "locateUsing": "css selector",
    "locateValue": "#search_button_homepage",
    "action": "click",
    "sendKeys": "",
    "attribute": "",
    "x": 400,
    "y": 340,
    "wires": [["6a3b88d8.2791a"]]
  },
  {
    "id": "a5053d5f.b6a638",
    "type": "browser-action",
    "z": "b333aac5.8be6a8",
    "name": "navigate to",
    "action": "navigateTo",
    "url": "https://duckduckgo.com",
    "width": "",
    "height": "",
    "keysArr": "",
    "x": 431.5,
    "y": 181,
    "wires": [["7e7366f3.e7b74"]]
  },
  {
    "id": "7e7366f3.e7b74",
    "type": "browser-action",
    "z": "b333aac5.8be6a8",
    "name": "get title",
    "action": "getTitle",
    "url": "",
    "width": "",
    "height": "",
    "keysArr": "",
    "x": 234.5,
    "y": 260,
    "wires": [["e95ea90a.a813d8", "1e414894.80c9f7"]]
  },
  {
    "id": "6a3b88d8.2791a",
    "type": "browser-action",
    "z": "b333aac5.8be6a8",
    "name": "get title",
    "action": "getTitle",
    "url": "",
    "width": "",
    "height": "",
    "keysArr": "",
    "x": 570.5,
    "y": 339,
    "wires": [["54afd8dd.3df5a8", "b670d9f3.134eb8"]]
  },
  {
    "id": "1e414894.80c9f7",
    "type": "element-action",
    "z": "b333aac5.8be6a8",
    "name": "send keys",
    "locateUsing": "css selector",
    "locateValue": "#search_form_input_homepage",
    "action": "sendKeys",
    "sendKeys": "hi",
    "object": "str",
    "attribute": "",
    "x": 233,
    "y": 340,
    "wires": [["5f57519b.33bc9"]]
  },
  {
    "id": "2017a5a9.9aa3da",
    "type": "new-session",
    "z": "b333aac5.8be6a8",
    "name": "",
    "webdriverUri": "",
    "webdriverProvider": "",
    "webdriverBrowser": "",
    "logLevel": "error",
    "x": 238,
    "y": 181,
    "wires": [["a5053d5f.b6a638"]]
  },
  {
    "id": "80d7692a0b0a5dae",
    "type": "element-check",
    "z": "b333aac5.8be6a8",
    "d": true,
    "g": "2ae2052c84670f7b",
    "name": "",
    "locateUsing": "xpath",
    "locateValue": "",
    "check": "selected",
    "x": 400,
    "y": 780,
    "wires": [["3d557240da278749"]]
  },
  {
    "id": "dbe5078787689019",
    "type": "inject",
    "z": "b333aac5.8be6a8",
    "d": true,
    "g": "2ae2052c84670f7b",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 780,
    "wires": [["80d7692a0b0a5dae"]]
  },
  {
    "id": "3d557240da278749",
    "type": "alert-action",
    "z": "b333aac5.8be6a8",
    "d": true,
    "g": "2ae2052c84670f7b",
    "name": "",
    "action": "accept",
    "sendText": "",
    "x": 610,
    "y": 800,
    "wires": [["6ca4cf3b1e3156c8"]]
  },
  {
    "id": "6ca4cf3b1e3156c8",
    "type": "dropdown-action",
    "z": "b333aac5.8be6a8",
    "d": true,
    "g": "2ae2052c84670f7b",
    "name": "",
    "locateUsing": "xpath",
    "locateValue": "",
    "action": "selectByAttr",
    "text": "",
    "attribute": "",
    "index": "",
    "value": "",
    "x": 520,
    "y": 900,
    "wires": [["efe81da4597b7c90"]]
  },
  {
    "id": "acc978488aa9fd9e",
    "type": "window-action",
    "z": "b333aac5.8be6a8",
    "d": true,
    "g": "2ae2052c84670f7b",
    "name": "",
    "action": "byName",
    "value": "",
    "index": "",
    "x": 400,
    "y": 1040,
    "wires": [["206a1838d1053cc6"]]
  },
  {
    "id": "206a1838d1053cc6",
    "type": "frame-action",
    "z": "b333aac5.8be6a8",
    "d": true,
    "g": "2ae2052c84670f7b",
    "name": "",
    "action": "frame",
    "frame": "",
    "x": 370,
    "y": 1100,
    "wires": [["21510f1cf2dc4e22"]]
  },
  {
    "id": "21510f1cf2dc4e22",
    "type": "execute-script",
    "z": "b333aac5.8be6a8",
    "d": true,
    "g": "2ae2052c84670f7b",
    "name": "",
    "locateUsing": "xpath",
    "locateValue": "",
    "action": "sync",
    "script": "",
    "x": 600,
    "y": 1100,
    "wires": [[]]
  },
  {
    "id": "8f550411f523be8d",
    "type": "explicit-wait",
    "z": "b333aac5.8be6a8",
    "d": true,
    "g": "2ae2052c84670f7b",
    "name": "",
    "locateUsing": "xpath",
    "locateValue": "",
    "action": "",
    "time": "",
    "reverse": "false",
    "error": "",
    "x": 630,
    "y": 1000,
    "wires": [["acc978488aa9fd9e"]]
  },
  {
    "id": "efe81da4597b7c90",
    "type": "implicit-wait-config",
    "z": "b333aac5.8be6a8",
    "d": true,
    "g": "2ae2052c84670f7b",
    "name": "",
    "implicit": "",
    "pageload": "",
    "script": "",
    "action": "",
    "x": 750,
    "y": 920,
    "wires": [["8f550411f523be8d"]]
  }
]
